.dashboard {
    height: 100vh;
    width: 100%;
    border: 1px solid black;
}

.dashboard .sidebar {
    height: 100vh;
    width: 20%;
    border: 1px solid black;
    float: left;
    margin-right: 3rem;
}

.dashboard .top{
    display: flex;
    justify-content: space-evenly;
}



.dashboard .students, .dashboard .books, .dashboard .issued{
    border: 1px solid black;
    width: 200px;
    height: 150px;
    margin-top: 2rem;
}

.dashboard .PieChart {
    height: 150px;
    width: 150px;
}
.dashboard .BarChart{
    height: 150px;
    width: 150px;
}

.dashboard .charts{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem; 
    border: 1px solid black;
    width: 760px;
    
}
