.dashboard .students,
.dashboard .books,
.dashboard .issued {
    padding: 1rem 0.5rem;
    background-color: lightblue;
    width: 200px;
    border-radius: 8px;
}

.chart-container {
    max-width: 500px;
}