/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* sidebar */
.sidebar {
  background: #11101d;
  width: 75px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.5s ease;
  padding: 6px 14px;
}

.sidebar.play{
	width: 240px;
	
}
.sidebar .menu_content .logo{
	color: #fff;
	display: flex;
	
	height: 50px;
	opacity: 0;
	width: 100%;
	align-items: center;
	pointer-events: none
}

.sidebar.play .menu_content .logo{
	opacity: 1;
	pointer-events: none
}
.menu_content .logo i{
	font-size: 28px;
	margin-right: 5px;
}

.menu_content .logo .logo_name{
	font-size: 16px;
	font-weight: 400;
	
}

.logo_name{
	font-size: 24px;
}

.c1{
	color: red;
}

.c2{
	color: blue;
}

.sidebar #btn {
	position: absolute;
	color: #fff;
	left: 50%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);

}

.sidebar.play #btn{
	left: 90%;
}

.sidebar ul{
	margin-top: 20px;
}

.sidebar ul li{
	position: relative;
	height: 40px;
	width: 100%;
	list-style: none;
	margin: 0 5px;
	line-height: 40px;
		
}

.sidebar ul li input{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	color: #00ffff;
	border-radius: 12px;
	background: #1d1b31;
	padding-left: 50px;
	font-size: 17px;
	border: none;
	outline: none;
	
}

.sidebar ul li .bx-search{
	position: absolute;
	z-index: 99;
	color: #00FFFF;
	transition: all 0.5s ease;
	font-size: 20px;
	
}
.sidebar ul li .tooltip{
	position: absolute;
	height: 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
	background:#fff;
	transform: translate(-50%, -50%);
	top: 50%;
	opacity: 0;
	border-radius: 5px;
	width: 110px;
	transition: 0s;
	display: block;
	left: 120px;
	line-height: 30px;
	text-align: center;
	pointer-events: none
}

.sidebar ul li .bx-search:hover{
	background: #fff;
	color: #1d1b31;
}
.sidebar ul li a{
	align-items: center;
	color: #fff;
	display: flex;
	border-radius: 12px;
	text-decoration: none;
	transition: all 0.4s ease;
	white-space: nowrap; 
	
}

.sidebar ul li a:hover{
	background: #fff;
	color: #11101d;

}	
.sidebar ul li i{
	min-width: 40px;
	line-height: 40px;
	height: 40px;
	text-align: center;
	border-radius: 12px;
	
}

.sidebar .links_name{
	opacity: 0;
	pointer-events: none
}

.sidebar.play .links_name{
	opacity: 1;
	pointer-events: auto
}
.sidebar ul li .bx-log-in, .bx-log-out{
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	left: 100%;
	line-height: 40px;
	min-width: 10px;
	font-size: 20px;
	border-radius: 12px;
	text-align: center;
	transition: all 0.4s ease;
	
}

.sidebar.play .bx-log-in, .bx-log-out{
	left: 85%;
}